<?xml version='1.0' encoding='utf-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <solver_type>random ray</solver_type>
  <particles>1750</particles>
  <random_ray>
    <distance_active>220.0</distance_active>
    <distance_inactive>20.0</distance_inactive>
    <source particle="neutron" strength="1.0" type="independent">
      <space type="box">
        <parameters>-32.13 -32.13 -32.13 32.13 32.13 32.13</parameters>
      </space>
    </source>
    <volume_estimator>naive</volume_estimator>
    <source_shape>flat</source_shape>
  </random_ray>
  <batches>1000</batches>
  <inactive>600</inactive>
  <output>
    <summary>false</summary>
    <tallies>true</tallies>
  </output>
  <verbosity>7</verbosity>
  <energy_mode>multi-group</energy_mode>
</settings>
